@model dynamic

@{
    ViewBag.Title = "Генератор тегов RSView";

}

<h2>@ViewBag.Title</h2>

<p>
    @using(Html.BeginForm("RsViewTagsGenerate", "Plc", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>Выберите файл "Перечень позиций контроллера"</p>@Html.TextBox("excelFile", null, new { type = "file" })
        <p>Укажите точку подключения (Node)</p>@Html.TextBox("nodeName")    
        <br>
        <input type="submit" value="Заргузить"/>
    }       
</p>
