@{
    ViewBag.Title = "О секторе";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>Сектор обслуживания микропроцессорной техники.</p>
</article>

<aside>
<!--
    <p>
        Контактная информация
    </p>
    -->

<section class="contact">
    <header>
        <h3>Телефон:</h3>
    </header>
    <p>
        <span class="label">Рабочий:</span>
        <span>(8-0214-55) 7886</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-mail:</h3>
    </header>
    <p>
        <span class="label">Инженер МПТ:</span>
        <span><a href="mailto:mpt@polymir.by">Mpt</a></span>
    </p>
    <p>
        <span class="label">Шеф:</span>
        <span><a href="mailto:bobrix@polymir.by">Артем</a></span>
    </p>
    <p>
        <span class="label">Программист:</span>
        <span><a href="mailto:paul.k.online@gmail.com">Павел</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес:</h3>
    </header>
    <p>
        ОАО Нафтан <br/> 
        Завод Полимир 
    </p>
</section>

</aside>